.flexContainerSentense{
    display: flex;
    flex-direction: column;
}

.divBlockSentense{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 70px;
}

.divBlock{
    width: 250px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
    cursor: pointer;
    margin:20px 20px 50px 10px;
}

.divBlock:nth-child(5n) {
    page-break-after: always;
}

.imageSize{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}


.divTitle{
    margin-top: 20px;
    font-family: Vollko, cursive;
    font-size: 30px;
    text-align: center;
    text-shadow:0 0 5px black;
}

.text{
    font-family: Vollko, cursive;
    text-align: center;
    font-size: 20px;
    text-shadow:0 0 5px black;
}




