.containerBlock{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px 10px 50px 10px;
}

.imageSizeRecommendation{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}





.flexContainer{


    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;

    border: 2px solid blue;
    border-radius: 10px;
}

.titleRecomendation{
    width: 100%;
    font-family: Vollko, cursive;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    text-shadow:0 0 5px black;
}

.recomendationBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.textRecommTop{
    font-family: Vollko, cursive;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}




@media (max-width: 768px) {
    .flexContainer{
        display: flex;
        margin: 30px 0 30px 0;
    }
}

@media (min-width: 768px) {
    .flexContainer {
        width: 70%;
        display: flex;
        margin: 30px 0 30px 0;
    }
}


@media (min-width:910px) {
    .flexContainer {
        width: 80%;
    }

    .titleRecomendation{
        font-size: 25px;
    }

    .textRecommTop{
        font-size: 25px;
    }

    .containerBlock{
        width: 90px;
        height: 90px;
        margin: 30px 10px 100px 20px;
    }

    .imageSizeRecommendation{
        width: 90px;
        height: 90px;
        border-radius: 10px;
    }
}




@media (min-width:1335px) {
    .flexContainer {
        width: 95%;
    }
}


@media (min-width:1600px) {
    .flexContainer {
        width: 90%;
    }
    .titleRecomendation{
        font-size: 35px;
    }

    .textRecommTop{
        font-size: 35px;
    }

    .containerBlock{
        width: 150px;
        height: 150px;
        margin: 30px 10px 100px 20px;
    }

    .imageSizeRecommendation{
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

}


@media screen and (min-width: 1900px) {
    .flexContainer {
        width: 90%;
        margin-left: 20px;
    }

    .titleRecomendation{
        font-size: 30px;
    }

    .textRecommTop{
        font-size: 30px;
    }

    .containerBlock{
        width: 100px;
        height: 100px;
        margin: 30px 10px 100px 20px;
    }

    .imageSizeRecommendation{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}


@media screen and (min-width: 2000px) {
    .flexContainer {
        width: 95%;
        margin-left: 20px;
    }

    .titleRecomendation{
        font-size: 30px;
    }

    .textRecommTop{
        font-size: 30px;
    }

    .containerBlock{
        width: 100px;
        height: 100px;
        margin: 30px 10px 100px 20px;
    }

    .imageSizeRecommendation{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}




@media  (min-width: 2200px) {
    .flexContainer {
        width: 95%;
        margin-left: 20px;
    }

    .titleRecomendation{
        font-size: 35px;
    }

    .textRecommTop{
        font-size: 35px;
    }

    .containerBlock{
        width: 125px;
        height: 125px;
        margin: 30px 10px 100px 20px;
    }

    .imageSizeRecommendation{
        width: 125px;
        height: 125px;
        border-radius: 10px;
    }
}




@media  (min-width: 2400px) {
    .flexContainer {
        width: 95%;
        margin-left: 20px;
    }
}
