.divContent > div{
    display: flex;
    text-align: center;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Vollko, cursive;
    font-size: 25px;
}